{% extends 'base.html' %}

{% block title %}Admin LogIn{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h1 class="text-center mb-4">Admin Login</h1>
      <form method="post" action="{{ url_for('admin_login') }}">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
