{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 style="color: purple;">Contact Us</h1>
  <p class="lead">We are here to assist you!</p>
  <p style="color: purple;">Phone Number: +995 595 00 41 81</p>
  <p style="color: purple;">Email: gempler.info@gmail.com</p>
  <p style="color: purple;">Feel free to reach out to us for any inquiries or assistance. We value your feedback and strive to provide excellent customer service.</p>
</div>
{% endblock %}
