{% extends "base.html" %}

{% block title %}
Gempler - Order Confirmation
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-purple text-black">
      <h5 class="card-title">Order Confirmation</h5>
      <h6 class="card-subtitle mt-2">Service: {{ service }}</h6>
    </div>
    <div class="card-body text-center">
      <p class="card-text">Thank you for choosing Gempler! Your order is confirmed.</p>
      <p class="card-text">We appreciate your business and look forward to serving you.</p>
    </div>
  </div>
</div>
{% endblock %}
